
body{
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
button{
  background-color:#f796fb;
    margin:30px auto;
    display:block;
    width:200px;
    height: 150px;

}


 #catContainer{
   width: 500px;
   height:500px;
   background-color: blue;
   position:relative;
 }

 .cats{
  
   width: 100px;
   height: 100px;
 }



 

