
body{
  overflow: hidden;
}
button{
  background-color:#d69f51;
  margin:30px auto;
  display:block;
  max-width: width:200px;

}


 #catContainer{
   width: 500px;
   height:500px;
   background-color: blue;
   position:relative;
 }

 .nyan-cat{
  
   max-width: 100px;
   max-height: 100px;
 }

 .nyan-cat-start{
   left:0;
   top:0;
 }

 .nyan-cat-end{
   left: 100vw;
   top:100vh;
 }

